@import url('https://fonts.googleapis.com/css2?family=Freehand&display=swap');

:root {
    --bg-gray: #e7e5e4;
    --bg-stone: #a8a29e;
    --bg-white: #f4f4f5;
    --orange: #fdba74;
    --dark-gray: #6b7280;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background: var(--bg-gray)
}

.wrapper {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.settings {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto-fit, max-content);
    gap: 1rem;
    background: var(--bg-stone);
    padding-top: 1rem;
    justify-items: center;
    box-shadow: 0px 1px 10px 3px var(--dark-gray);
}

input[type="text"],
input[type="number"] {
    width: 80%;
    height: 2rem;
    border: none;
    border-radius: 10px;
    background-color: #fef08a;
    font-weight: bold;
}

input::placeholder {
    text-align: center;
}

input:focus {
    border: solid rgb(33, 33, 177) 2px;
    box-shadow: 0px 0px 5px 1px rgb(33, 33, 177);
}

.library {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 230px));
    grid-auto-columns: minmax(200px, 230px);
    grid-auto-rows: minmax(250px, 325px);
    padding: 0.5rem;
    gap: 0.65rem;
    overflow: auto;
}

.text {
    background-color: var(--bg-white);
    box-shadow: 1px 1px 5px 2px var(--bg-stone);
    position: relative;
    border-radius: 10px;

    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
    gap: 3vh;
    overflow: auto;
}

.text:hover::before {
    content: '';
    background: var(--orange);
    width: 100%;
    height: 2%;
    align-self: start;
    position: absolute;
    border-radius: 10px 10px 0px 0px;
    box-shadow: 0px 3px 15px 0px var(--bg-stone);
}

#status {
    background: red;
}

#status:hover {
    background-color: rgb(219, 70, 70);
}

#settingsbox .pressed {
    background: green;
}

#settingsbox .pressed:hover {
    background: rgb(25, 112, 25);
}

.heading {
    /* font-weight: bolder; */
    font-size: larger;
    font-family: 'Freehand', cursive;
}

.author {
    font-style: italic;
}

.pages {
    font-size: small;
}

.bookstatus {
    font-size: large;
    font-weight: bold;
}

.control {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: stretch;
    justify-items: center;
    margin-left: 1%;
}

.control button {
    font-style: italic;
    border-radius: 5px;
    border: solid 1px var(--bg-stone);
}

.deletion:hover {
    background-color: rgb(163, 66, 66);
    border: solid 1px red;
}

.statuschange:hover {
    background-color: #ad9789;
}

.settings button {
    height: 3rem;
    width: 70%;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 5px 2px var(--dark-gray);
    font-weight: bolder;
    font-size: larger;
}

#addbook:hover {
    background-color: rgb(187, 166, 166);
}